[
    {
        "title": "221128 Red Velvet - Birthday Performance",
        "tags": [
            "red velvet",
            "birthday",
            "performance",
            "irene"
        ],
        "gfy_id": "calculatingconsciousfox"
    },
    {
        "title": "230121 Irene Bubble",
        "tags": [
            "red velvet",
            "bubble",
            "230121",
            "irene"
        ],
        "gfy_id": "tendersharpgalapagospenguin"
    }
]
